@media screen and (min-width: 768px) and (max-width: 1200px){


body{
width: 100%;
margin: auto;}

#resto__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;}

    /*menu*/

#carte__menu{
    position: relative;
    background-color: rgb(246, 246, 246, 0.5);
    width: 100%;
    margin-top: 0px;
    border-radius: inherit;
}
#menu{
    width: 90%;
}
.resto__identification{
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 0px 20px;
}

 /*fin favoris*/

.repas__struct{
    padding: 0px 20px;
    background-color: #f6f6f6;
    font-weight: bolder;
    border-bottom: 2px solid #99e2d0;
    width: max-content;}

.menu__struct{
    display: flex;
    justify-content: space-between;
}
.suggestion{
    animation: menu-apparition 2s cubic-bezier(0, 0, 0, 1) forwards;
}
.delay-2{
    animation-delay: 0.3s;
}
.delay-3{
    animation-delay: 0.6s;
}
.delay-4{
    animation-delay: 0.9s;
}
.delay-5{
    animation-delay: 1.2s;
}
.delay-6{
    animation-delay: 1.5s;
}
.delay-7{
    animation-delay: 1.8s;
}
.delay-8{
    animation-delay: 2.1s;
}
.delay-9{
    animation-delay: 2.4s;
}

.suggestion{
    width: 30%;
}
.menu__sug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: roboto, sans-serif;
    flex: 1;
}
.menu__sug h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    margin: 5px 10px 5px 10px;
}
.menu__sug p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 10px 5px 10px;}

.suggestion:hover .menu__tarif{
    transform: translate(-70px);
    transition: transform 600ms ease;}
.suggestion:hover .menu__icone{
    display: block;
    transition: all 600ms ease;
    transform: scalex(1);}
.suggestion:hover .menu__icone .fas.fa-check-circle{
    display: block;
    transition: all 1000ms ease;
    transform: rotate(-360deg);}
.suggestion:hover .menu__sug{
    margin-right: 60px;
    }

.menu__tarif{
    height: 100%;
    width: 60px;
    text-align: center;
    background-color: white;
    font-family: roboto, sans-serif;
    font-weight: bold;
    line-height: 105px;
}
.menu__icone{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 60px;
    font-size: 30px;
    background-color: #99e2d0;
    position: absolute;
    right: 0;
    transform: scalex(0);
    transform-origin: right;
}

.fas.fa-check-circle{
    color: white;
    line-height: 70px;
    transform: rotate(0deg);
}

    
    /*début footer*/

    #footer{
    z-index: 100;
    position: absolute;}

    
        /*fin footer*/
}    