@media screen and (min-width: 768px) and (max-width: 1200px){


body{
    width: 100%;
    margin: auto;}
#header{
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: white;
}
#resto__img{

    height: 1000px;
    object-fit: cover;
    position: fixed;
    z-index: 1;}

    /*menu*/

#carte__menu{
    position: relative;
    top: 120px;
    background-color: rgb(246, 246, 246, 0.5);
    width: 100%;
    border-radius: inherit;
    z-index: 2;
    margin-bottom: 70px;
}
#menu{
    width: 90%;
}
.resto__identification{
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 0px 20px;
}

 /*fin favoris*/

.repas__struct{
    padding: 0px 20px;
    background-color: #f6f6f6;
    font-weight: bolder;
    border-bottom: 2px solid #99e2d0;
    width: max-content;}

.menu__struct{
    display: flex;
    justify-content: space-between;
}

.suggestion{
    width: 30%;}
    
    /*début footer*/

#footer{
    z-index: 100;
    position: absolute;}

    
    /*fin footer*/
}    