@media screen and (min-width: 768px) and (max-width: 1200px){


 body{
    margin: 0;
    width: 90%;}


    /*début fonctionnement*/

#fonct__boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;}

    /*fin fonctionnement*/


    /*début restaurants*/

#resto__grille{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;}
.resto__box{
    width: 45%;}

    /*fin restaurants*/

}