@media screen and (min-width: 768px) and (max-width: 1200px){

@keyframes loading-spinner {
    0%{
        opacity:1;
    }
    70%{
        opacity: 1;
    }
    80%{
        opacity:0.6;
    }
    100%{
        opacity: 0;
        z-index: -999;
    }
    }
    
    @keyframes circle-rotate {
        0%{
            transform: rotate(360deg);
        }
        100%{  
    }
    }
    body{
        margin: 0;
        width: 90%;
    }


    /*début fonctionnement*/

#fonct__boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;}

    /*fin fonctionnement*/


    /*début restaurants*/

#resto__grille{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;}
.resto__box{
    width: 45%;}

    /*fin restaurants*/

}